<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="socket.io/socket.io.js" defer></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript" src="js/menu.js"></script>
		<script src="js/js_script.js"></script>
		<script src="https://vuejs.org/js/vue.js" defer></script>
		<script src="js/vue_script.js" defer></script>


       


		
		<title>Fat Burgers</title>
	</head>
	<body>
		<main id="vuecontrolled">
		<div class="HeaderContainer">
			<img id="headImg" src="img\Pub.jpg" alt="The best Burgerjoint in town" title="Burgerjoint">
				<div class="HeaderText"> Welcome to the best Burgerjoint</div>
			</div>
			</div>
			<section class="burgermenu" id="firstSection">
				<h1>Choose on of our hamburger</h1>
					<p>Here you execute selection of burgers!</p>
					<div id="burgerDisplay">
						<div id="burgerMenu" v-for="burger in burgers">
							<h2>{{ burger.name }}</h2>
							<img :src="burger.picture" :alt="burger.name" :title="burger.name" width="100%">
							<table>

									<ul>
										<li >kcal: {{burger.kCal}}</li>
										<li v-if ="burger.gluten">Contains <span id="ingredients">gluten</span></li>
										<li v-if ="burger.lactose">Contains <span id="ingredients">lactose</span></li>
									</ul>
								</td>
							</table>
							<input type="checkbox" :value="burger.name" :id="burger.name" v-model="burgerType" required="required">
							<label :for="burger.name">Choose</label>
						</div>
					</div>
			</section>
			<section id="secondSection">
				<h2>Hey, where do you live?</h2>
					<p>Fill in your address below please</p>
				<section id="contact">
					<form id="personalInfo">
						<fieldset>
						<legend>Delivery information:</legend>
							<p>
								<label for="name">Name</label><br>
								<input type="text" id="name" name="fn" required="required" placeholder="First- and Last name">
							</p>
							<p>
								<label for="email">E-mail</label><br>
								<input type="email" id="email" name="em" required="required" placeholder="E-mail address">
							</p>
						
						</fieldset>
						<p>
							<label for="payment">Payment method</label><br>
							<select id="payment" name="pay">
								<option selected="selected">Credit card</option>
								<option>Swish</option>
								<option>PayPal</option>
								<option>Klarna checkout</option>
                                                                <option>Pay by doing our dishes</option>


								
							</select>
						</p>
						<p>
							Gender<br>
							<input type="radio" value="Male" name="gender" id="gender" required="required" checked="checked">
							<label for="male">Male</label><br>

							<input type="radio" value="Female" id="gender" name="gender" required="required">
							<label for="female">Female</label><br>

							<input type="radio" value="Not Provided" id="gender" name="gender" required="required">
							<label for="nogen">Prefer to not provide</label>
						</p>
					</form>
				</section>
			</section>
			<h1> Click in the map! </h1>
			<a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
			<div class="view-box">
				<div id="dots" v-on:click="displayOrder">
					<div
						v-for="(details, key) in orders"
						v-bind:style="{ left: details.x + 'px', top: details.y + 'px'}">
						T
					</div>
				</div>
			</div>
			<div id="submitForm">
				<button type="submit" v-on:click="markDone(); addOrder()" id="submitButton"><img src="img\submitbuttonGif.gif" width="100%"> </button>
			</div>
			<section id="orderInfo">
				<div id="yourOrder" v-for="info in myOrder">
						<p>
							<h2>Your order:</h2>
							<h3>Customer information</h3>
								Name: {{info.name}} <br>Email: {{info.email}} <br>Payment method: {{info.payMethod}}<br>Gender: {{info.gender}}
								
							<h3>Delivery information:</h3>
								<ul v-for="burg in burgerType">
									<li> {{burg}}</li>
								</ul>

				</div>
			</section>
		</main>
		<footer>
			<hr>
			<p>
				Fat burger joint inc
			</p>
		</footer>
    </body>
</html>